*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.85));
	background-color: #e5e5f7;
	background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#444cf7 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #444cf7 2px, #e5e5f7 2px) -1px 0;
	background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}